---
import Base from '@/layouts/Base.astro';

interface Props {
  title?: string;
  description?: string;
  lang?: string;
}

const { title, description, lang } = Astro.props;
---

<Base title={title} description={description} lang={lang}>
  <slot name="head" slot="head" />
  <main>
    <slot />
  </main>
</Base>
